.icons {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;

}
    .icons > .a {
        display: inline-block;
        width: 5%;
        text-decoration: none;
        color: white;
}
    .back-to-top {
        position: absolute;
        top: -30px;
        right: 200px;
}
.img {
    display: inline-block;
    width: 16%;
    margin-left: 42%;
    margin-bottom: 20px;
}
.par {
    display: inline-block;
    width: 20%;
    margin-left: 20%;
    float: left;
    text-align: center;
    color: white;
    border-right: 1px solid #fff;    
}
.par-s {
    display: inline-block;
    width: 20%;
    float: left;
    text-align: center;
    color: white;
    border-right: 1px solid #fff;    
}
.par-l {
    display: inline-block;
    width: 20%;
    margin-right: 20%;
    float: left;
    text-align: center;
    color: white;
}
.text {
    display: inline-block;
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
    text-align: center;
    color: white;
}
@media ( max-width: 600px ) {
    .back-to-top {
        position: absolute;
        top: -30px;
        right: 50px;
}
    .par {
        width: 100%;
        margin-left: 5%;
        border-right: 0;
        margin-bottom: 5px;    
}
    .par-s {
        width: 100%;
        border-right: 0;
        margin-bottom: 5px;   
}
    .par-l {
        width: 100%;
        margin-right: 5%;
        margin-bottom: 5px;
}
}