.hero {
    padding-bottom: 30px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    text-align: center;
    min-height: 100vh;
}
        .hero img {
            display: inline-block;
            height: 34px;
            margin-bottom: 40px;
            object-fit: contain;
        }
        .hero h1 {
            display: inline-block;
            width: 100%;
            font-size: 60px;
            margin-bottom: 60px;
            text-transform: uppercase ;
        }
        .hero p {
            display: inline-block;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 60px;
            color: #555;
        }
        .clock {
            margin-bottom: 60px;
        }
        .input {
            display: inline-block;
            width: 100%;
            border: 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #ffffff;
            color: white;
            background-color: transparent;
        }
        .input::placeholder {
                color: white;
            } 
@media ( max-width: 600px ) {
    .hero h1 {
        font-size: 50px;  
    }
}
@media ( max-width: 460px ) {
    .hero img {
        margin-bottom: 10px;
    }
    .hero h1 {
        font-size: 20px; 
        margin-bottom: 40px;
        margin-top: 20px; 
    }
}